body {
    background-color: #171717;
    transition: all 0.5s;
}

.nav__link {
    color: #2FDAC5;
}

.logo__img {
    content: url(../img/logo--white.svg);
}

.header .container, .info__lectors, .header--fixed {
    background-color: #171717 !important;
}

.btn, .footer__btn {
    background: #FEFEFE !important;
    color: #171717 !important;
}

.section__suptitle--black, .section__title--black, .about-us__text, .info__text {
    color:  #FEFEFE !important;
}

.about-us__btn, .feedback__btn {
    background-color: #2FDAC5 !important;
}

.info__lectors {
    background-color: #171717 !important;
    transition: all 0.5s;
}
.form__input--feedback{
    background-color: #2FDAC5 !important;
}