html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    margin: 0;
    
}
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
img {
    max-width: 100%;
    height: inherit;
}
button,
a {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    width: 100%;
    max-width: 1265px;
    padding: 0px 15px;
    margin: 0 auto;
}
.container--sm {
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
    padding: 0px 15px;
}
.container--no-padding {
    padding: 0;
}
.border--bottom {
    border-bottom: 1px solid #d8e3fe;
}
.logo {
    width: 47px;
    height: 48px;
    transition: all 0.3s ease-in-out;
}
.logo--header {
    animation: fadeInLeft 1s ease-in-out normal forwards;
}
.logo--header > .logo__img:hover,
.logo--header > .logo__img:focus {
    opacity: 0.7;
    outline: transparent;
}
.logo:hover,
.logo:focus {
    opacity: 0.7;
    outline: none;
}
.logo--white {
    margin-bottom: 35px;
}
.js-validate-error-label {
    color: #b30000;
    margin-bottom: 8px;
    font-size: 14px;
}
.section__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}
.section__title--blue {
    color: #3d4f9f;
}
.section__title--black {
    color: #171717;
}
.section__title--default {
    font-size: 24px;
    line-height: 29px;
}
.section__title--lg {
    font-size: 28px;
    line-height: 33px;
}
.section__suptitle {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section__suptitle--black {
    color: #171717;
}
.section__suptitle--blue {
    color: #3d4f9f;
}
.section__suptitle--m-lg {
    text-align: left;
    margin-bottom: 30px;
}
.section__text {
    margin: 0;
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #3d4f9f;
}
@media (max-width: 767px) and (min-width: 576px) {
    .section__suptitle--m-lg {
        margin-bottom: 20px;
    }
}
.section__heading[data-scroll] {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
}
.section__heading[data-scroll="in"] {
    transform: translateY(0);
    opacity: 1;
}
.section__heading[data-scroll="out"] {
    transform: translateY(-50px);
    opacity: 0;
}
.btn {
    cursor: pointer;
    display: inline-block;
    border: 2px solid #171717;
    border-radius: 8px;
    background: transparent;
    color: #171717;
    font-weight: 700;
    font-size: 13px;
}
@media (max-width: 650px){
    .btn{
        font-size: 10px;
    }
}
.btn--black {
    background-color: #171717;
    color: #fefefe;
}
.btn--green {
    background-color: #2fdac5;
    color: #fefefe;
    border: 2px solid #2fdac5;
}
.btn--default {
    padding: 13px 22px;
}
.btn--sm {
    padding: 13px 15px;
}
@media (max-width: 840px){
    .btn--sm{
        padding: 10px 12px;
    }
}
@media (max-width: 650px){
    .btn--sm{
        padding: 8px 10px;
    }
}
.btn--link {
    border: 1px solid #171717;
    padding: 13px 22px;
}
@media (max-width: 520px) {
    .btn--link {
        padding: 10px 23px;
    }
}
.header {
    transition: all 0.5s ease-in-out;
}
.header--fixed {
    background-color: #fefefe;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    opacity: 0.9;
}
.header--fixed .header__wrap {
    padding: 3px 0px;
}
.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.header__btn {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    animation: fadeInRight 1s ease-in-out normal forwards;
}
.header__btn:hover,
.header__btn:focus {
    color: #2fdac5;
    border: 2px solid #2fdac5;
    outline: #2fdac5;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.nav__list {
    display: flex;
    align-items: center;
    animation: fadeInLeft 1s ease-in-out normal forwards;
}
.nav__item {
    margin-left: 44px;
}
.nav__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
    outline-color: transparent;
}
.nav__link:hover,
.nav__link:focus {
    color: #2fdac5;
    outline-color: #2fdac5;
}
.mobile-nav {
    padding: 15px;
    background-color: #171717;
    position: relative;
    transition: all 0.7s ease-in-out;
}
.mobile-nav__list {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.mobile-nav__item {
    margin-bottom: 50px;
}
.mobile-nav__item:last-child {
    margin-bottom: 25px;
}
.mobile-nav__link {
    color: #fefefe;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
    outline-color: transparent;
}
.mobile-nav__link:hover,
.mobile-nav__link:focus {
    color: #2fdac5;
    outline-color: #2fdac5;
}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 20;
    width: 44px;
    height: 44px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.close:hover,
.close:focus {
    transform: rotate(45deg);
}
.burger {
    display: none;
    padding: 9px 2px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.burger__item {
    display: inherit;
    background-color: #2fdac5;
    color: transparent;
    font-size: 0;
    width: 30px;
    height: 2px;
    position: relative;
}
.burger__item::before {
    position: absolute;
    content: "";
    background-color: #2fdac5;
    width: 13px;
    height: 2px;
    top: -5px;
    right: 0;
}
.burger__item::after {
    position: absolute;
    content: "";
    background-color: #2fdac5;
    width: 13px;
    height: 2px;
    bottom: -5px;
    left: 0;
}
.burger:hover {
    opacity: 0.7;
}
.burger__menu {
    display: none;
    transition: all 0.7s ease-in-out;
}
.burger__menu--active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
@media (max-width: 767px) {
    .nav__item {
        margin-left: 24px;
    }
}
@media (max-width: 575px) {
    .navigation {
        display: none;
    }
    .navigation--footer {
        display: flex;
    }
    .burger {
        display: block;
    }
}
.hero {
    background-color: #fafafa;
}
.hero__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
}
.hero__title {
    margin: 0;
    margin-bottom: 30px;
    color: #171717;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    overflow: hidden;
    transform: all 0.3s ease-in-out;
    animation: Scale 1s ease-in-out 0.5s normal forwards;
}
.hero__text {
    margin: 0 auto;
    max-width: 635px;
    color: #171717;
    opacity: 0.6;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.03em;
}
@media (max-width: 767px) and (min-width: 576px) {
    .hero__wrap {
        padding: 90px 0px;
    }
    .hero__title {
        font-size: 42px;
        margin-bottom: 20px;
    }
}
@media (max-width: 575px) {
    .hero__wrap {
        padding: 70px 0;
    }
    .hero__title {
        font-size: 36px;
        line-height: 48px;
    }
}
@keyframes Scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.about-us {
    padding: 60px 0px 50px;
    position: relative;
}
.about-us__wrap {
    margin: 90px 0 135px;
    display: grid;
    gap: 0px 65px;
    grid-template-columns: repeat(4, 1fr);
    transition: all 0.3s ease-in-out;
}
.about-us__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us__img {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
}
.about-us__icon {
    width: auto;
    height: auto;
}
.about-us__heading {
    margin: 0;
    margin-bottom: 25px;
    color: #2fdac5;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}
.about-us__text {
    margin: 0;
    color: #171717;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
}
.about-us__actions {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-us__link {
    transition: all 0.3s ease-in-out;
}
.about-us__link:hover,
.about-us__link:focus {
    color: #2fdac5;
    border: 1px solid #2fdac5;
    outline: #2fdac5;
}
.about-us__btn {
    transition: all 0.3s ease-in-out;
}
.about-us__btn:hover,
.about-us__btn:focus {
    background-color: #5ae2d1;
    border: 2px solid #5ae2d1;
    outline: #5ae2d1;
}
.about-us__divider {
    margin: 0px 45px;
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    color: #adb3cb;
    position: relative;
}
.about-us__divider::before,
.about-us__divider::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 1px;
    background-color: #dae4fe;
}
.about-us__divider::before {
    left: -30px;
}
.about-us__divider::after {
    right: -30px;
}
.clouds--sm,
.clouds--md,
.clouds--lg {
    position: absolute;
}
.clouds--sm {
    top: 21px;
    left: 125px;
}
.clouds--md {
    left: 56px;
    bottom: 40px;
}
.clouds--lg {
    top: 60px;
    right: 70px;
}
@media (max-width: 991px) and (min-width: 768px) {
    .clouds--sm {
        left: 35px;
    }
    .clouds--md {
        left: -14px;
        bottom: 60px;
    }
    .clouds--lg {
        top: 50px;
        right: 10px;
    }
}
@media (max-width: 767px) {
    .about-us__wrap {
        margin: 70px 0px 85px;
        gap: 0px 75px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .about-us__item {
        flex-shrink: 0;
    }
    .about-us__item:first-child {
        padding-left: 75px;
    }
    .about-us__item:last-child {
        padding-right: 75px;
    }
    .about-us__img {
        margin-bottom: 23px;
    }
    .about-us__heading {
        font-size: 17px;
        margin-bottom: 20px;
    }
    .about-us__text {
        font-size: 16px;
    }
    .clouds--sm {
        top: 10px;
        left: 15px;
    }
    .clouds--md {
        left: -4px;
        bottom: 70px;
    }
    .clouds--lg {
        top: 60px;
        right: 0;
    }
}
@media (max-width: 520px) {
    .about-us__wrap {
        margin: 75px 0px 60px;
    }
    .about-us__item:first-child {
        padding-left: 55px;
    }
    .about-us__item:last-child {
        padding-right: 55px;
    }
    .about-us__actions {
        flex-direction: column;
    }
    .about-us__divider {
        margin: 25px 0px;
    }
    .about-us__divider::before {
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 15px;
    }
    .about-us__divider::after {
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 15px;
    }
    .clouds--sm {
        width: 25%;
    }
    .clouds--md {
        width: 30%;
        left: 16px;
        bottom: 90px;
    }
    .clouds--lg {
        width: 30%;
        top: 40px;
        right: 0;
    }
}
@keyframes aboutScrollX {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}
.about-us__wrap[data-scroll] {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.7s;
}
.about-us__wrap[data-scroll="in"] {
    animation: aboutScrollX 1s ease-in-out normal forwards;
}
.about-us__wrap[data-scroll="out"] {
    animation: none;
}
.clouds--sm[data-scroll] {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.5s;
}
.clouds--sm[data-scroll="in"] {
    opacity: 1;
}
.clouds--sm[data-scroll="out"] {
    opacity: 0;
}
.clouds--lg[data-scroll] {
    transition: all 0.3s ease-in-out;
    transition-delay: 1s;
}
.clouds--lg[data-scroll="in"] {
    opacity: 1;
}
.clouds--lg[data-scroll="out"] {
    opacity: 0;
}
.clouds--md[data-scroll] {
    transition: all 0.3s ease-in-out;
    transition-delay: 2s;
}
.clouds--lg[data-scroll="in"] {
    opacity: 1;
}
.clouds--lg[data-scroll="out"] {
    opacity: 0;
}
.info {
    display: flex;
    overflow: hidden;
}
.info__courses {
    width: 50%;
    direction: rtl;
    padding: 66px 0;
}
.info__lectors {
    width: 50%;
    padding: 66px 0;
    background-color: #fafafa;
}
.info__item {
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 90px;
    padding-left: 15px;
}
.info__item--revert {
    margin-right: 0;
    margin-left: 90px;
    padding-right: 15px;
    padding-left: 0;
}
.info__img {
    width: 68px;
    height: 63px;
    margin-bottom: 12px;
}
.info__num {
    color: #2fdac5;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 80px;
    letter-spacing: 0.03em;
}
.info__text {
    margin: 0;
    color: #171717;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-align: right;
}
.info__text--revert {
    text-align-last: left;
}
@media (max-width: 767px) {
    .info__item {
        margin-right: 50px;
    }
    .info__item--revert {
        margin-right: 0;
        margin-left: 50px;
    }
    .info__img {
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
    }
    .info__num {
        font-size: 40px;
        line-height: 60px;
    }
}
@media (max-width: 470px) {
    .info__item {
        margin-right: 20px;
    }
    .info__item--revert {
        margin-right: 0;
        margin-left: 20px;
    }
    .info__img {
        width: 40px;
        height: 40px;
    }
    .info__text {
        font-size: 15px;
    }
}
.info__item[data-scroll] {
    transition: all 0.3s ease-in-out;
    transition-delay: 1s;
}
.info__item[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0);
}
.info__item[data-scroll="out"] {
    opacity: 0;
    transform: translateX(-40px);
}
.info__item--revert[data-scroll] {
    transition: all 0.3s ease-in-out;
    transition-delay: 1s;
}
.info__item--revert[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0);
}
.info__item--revert[data-scroll="out"] {
    opacity: 0;
    transform: translateX(40px);
}
.reviews {
    padding: 110px 0px 160px;
    background-color: #fafafa;
    overflow: hidden;
}
.reviews__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.reviews__heading {
    margin-right: 110px;
    padding-left: 160px;
    flex-shrink: 0;
}
@media (max-width: 1024px) {
    .reviews {
        padding: 80px 0 120px;
    }
    .reviews__wrap {
        padding: 0px 15px;
        flex-direction: column;
    }
    .reviews__heading {
        margin-right: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
}
.slider__wrap {
    display: flex;
    align-items: center;
    max-width: 900px;
    overflow-x: visible;
}
.slider__item {
    width: 420px;
    background: #ffffff;
    border: 1px solid #d8e3fe;
    padding: 40px 65px 50px;
    opacity: 0.5;
    position: relative;
    margin-right: 60px;
    margin-bottom: 40px;
}
.slider__text {
    margin: 0;
    color: #3d4f9f;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.slider__author {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -25%);
    border-radius: 50%;
}
.slick-list {
    max-width: 950px;
}
.slick-track {
    width: inherit !important;
    display: flex;
    align-items: center;
}
.slick-dots {
    bottom: -75px;
    left: 140px;
    text-align: left;
}
.slick-slide {
    outline: none;
}
.slick-current > .slider__item {
    opacity: 1;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
@media (max-width: 1024px) {
    .slick-dots {
        left: 0px;
        text-align: center;
    }
}
@media (max-width: 930px) {
    .slider__item {
        margin-right: 30px;
        margin-left: 30px;
        width: 280px;
        padding: 20px 15px 50px;
    }
    .slick-track {
        width: auto;
    }
}
.faq-section {
    padding: 175px 0;
}
.faq-section__heading {
    margin-bottom: 70px;
}
@media (max-width: 767px) {
    .faq-section {
        padding: 65px 0;
    }
    .faq-section__heading {
        margin-bottom: 50px;
    }
}
.accordion__wrap {
    display: flex;
    flex-direction: column;
}
.accordion__item {
    margin-bottom: 20px;
    border-bottom: 1px solid #d8e3fe;
}
.accordion__item:last-child {
    margin-bottom: 0;
}
.accordion__item--show .accordion__content {
    font-size: 14px;
    line-height: 27px;
    padding-bottom: 50px;
}
.accordion__header {
    margin-left: 60px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #8e96b7;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.accordion__header::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-top: 3px solid #8e96b7;
    border-right: 3px solid #8e96b7;
    position: absolute;
    top: 0;
    left: -35px;
    z-index: 1;
    transform: rotate(135deg);
    transition: all 0.3s ease-in-out;
}
.accordion__header--active {
    font-weight: 700;
    color: #495274;
}
.accordion__header--active::before {
    top: 6px;
    border-top: 3px solid #495274;
    border-right: 3px solid #495274;
    transform: rotate(-45deg);
}
.accordion__header:hover {
    opacity: 0.7;
}
.accordion__content {
    margin: 0;
    margin-left: 75px;
    padding-bottom: 0px;
    padding-right: 15px;
    max-width: 380px;
    font-style: normal;
    font-weight: normal;
    font-size: 0px;
    line-height: 0px;
    letter-spacing: 0.03em;
    color: #8d96bd;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
    .accordion__item--show .accordion__content {
        padding-bottom: 20px;
    }
    .accordion__content {
        max-width: 470px;
    }
}
@media (max-width: 520px) {
    .accordion__item--show .accordion__content {
        font-size: 13px;
        line-height: 23px;
    }
}
.prices {
    padding: 40px 0;
    background-color: #2fdac5;
}
.prices__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prices__title {
    margin: 0;
    margin-bottom: 28px;
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
}
.prices__text {
    margin: 0;
    margin-bottom: 70px;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.prices__btn {
    background: #fefefe;
    border-radius: 2px;
    border: 3px solid transparent;
    outline-color: transparent;
    padding: 13px 18px;
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #565f82;
    transition: all 0.2s ease-in-out;
}
.prices__btn:hover,
.prices__btn:focus {
    border: 3px solid #20b6a3;
    outline-color: #20b6a3;
}
@media (max-width: 767px) {
    .prices__title {
        font-size: 38px;
        line-height: 44px;
    }
    .prices__text {
        margin-bottom: 50px;
    }
}
@media (max-width: 520px) {
    .prices__title {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 18px;
    }
    .prices__text {
        margin-bottom: 35px;
    }
}
.prices__title[data-scroll] {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.5s;
}
.prices__title[data-scroll="in"] {
    transform: scale(1);
}
.prices__title[data-scroll="out"] {
    transform: scale(0.9);
}
.footer__wrap {
    padding: 90px 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer__copyright {
    margin: 0px 0px 90px 90px;
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #aeb8d0;
}
.footer__btn {
    transition: all 0.3s ease-in-out;
}
.footer__btn:hover,
.footer__btn:focus {
    color: #fefefe;
    background-color: #2fdac5;
    border: 2px solid #2fdac5;
    outline: #2fdac5;
}
@media (max-width: 767px) {
    .footer__wrap {
        padding: 60px 0px 25px;
        flex-direction: column;
        align-items: normal;
        justify-content: space-between;
    }
    .footer__inner {
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .footer__btn {
        margin: 0 auto;
    }
    .footer__copyright {
        margin: 0px 0px 40px 0px;
    }
}
.footer__inner[data-scroll] {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.5s;
}
.footer__inner[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
}
.footer__inner[data-scroll="out"] {
    opacity: 0;
    transform: translateY(50px);
}
.footer__btn[data-scroll] {
    transition: all 0.3s ease-in-out;
}
.footer__btn[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
}
.footer__btn[data-scroll="out"] {
    opacity: 0;
    transform: translateY(50px);
}
.footer__copyright[data-scroll] {
    transition: all 0.3s ease-in-out;
    transition-delay: 1s;
}
.footer__copyright[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
}
.footer__copyright[data-scroll="out"] {
    opacity: 0;
    transform: translateY(50px);
}
.log-in__wrapper {
    max-width: 400px;
    min-height: 30vh;
    margin: 100px auto 0;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #171717;
    border-radius: 8px;
    background-color: #fafafa;
    position: relative;
    transition: border 0.3s ease-in-out;
}
.log-in__wrapper:hover,
.log-in__wrapper:focus,
.log-in__wrapper:active {
    border: 2px solid #2fdac5;
}
.log-in__tabs {
    display: flex;
    justify-content: center;
}
.log-in__actions {
    display: flex;
    justify-content: center;
}
.log-in__btn {
    margin: 15px 0px;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}
.log-in__btn:hover,
.log-in__btn:focus {
    color: #fefefe;
    background-color: #2fdac5;
    border: 2px solid #2fdac5;
    outline-color: #2fdac5;
}
.hidden {
    display: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 310px;
    padding: 25px 40px;
    color: #24cbb7;
    background-color: #fefefe;
    border-radius: 8px;
    border: 2px solid #24cbb7;
    font-size: 24px;
    line-height: 1.3;
    font-weight: bold;
    text-align: center;
    z-index: 10;
    display: none;
}
.modal--visible {
    display: block;
}
@media (max-width: 575px) {
    .log-in__wrapper {
        margin-top: 50px;
    }
}
.tab__list {
    display: flex;
}
.tab__item {
    cursor: pointer;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    color: #171717;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
.tab__item:first-child {
    margin-right: 25px;
}
.tab__item:focus,
.tab__item:hover {
    opacity: 0.7;
}
.tab__item--active {
    border-bottom: 2px solid #2fdac5;
    color: #2fdac5;
}
.form {
    display: flex;
    flex-direction: column;
}
.form--feedback {
    max-width: 450px;
    padding: 0px 10px;
    margin: 0 auto;
}
.form__label {
    margin-bottom: 10px;
    color: #171717;
    font-weight: 600;
}
.form__label--feedback {
    color: #3d4f9f;
}
.form__input {
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid transparent;
    outline: #171717 solid 1px;
    color: #171717;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    transition: all 0.3s ease-in-out;
}
.form__input::placeholder {
    color: #313131;
}
.form__input:hover,
.form__input:focus {
    border: 1px solid #2fdac5;
    outline: #2fdac5 solid 1px;
}
.form__input--feedback {
    outline: none;
    border: 1px solid #3d4f9f;
    border-radius: 8px;
    background: transparent;
}
.form__input--feedback:hover,
.form__input--feedback:focus {
    border: 1px solid #2fdac5;
    outline: none;
    background: #fafafa;
}
.feedback {
    padding-bottom: 100px;
}
.feedback__actions {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.feedback__btn {
    transition: all 0.3s ease-in-out;
}
.feedback__btn:hover,
.feedback__btn:focus {
    background-color: #5ae2d1;
    border: 2px solid #5ae2d1;
    outline: #5ae2d1;
}
/*# sourceMappingURL=style.css.map */



/* new styles */
.header__btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mode-toggler {
    margin-right: 10px;
}


.form__span {
    color: #D24545;
    font-style: italic;
    text-align: right;
    transform: translateY(17px);
}

.error {
    border-color: #D24545;
}

.error-message {
    color: #D24545;
    font-style: italic;
    padding: 0;
    margin: 0;
    transform: translateY(-10px);
}