.about-us {
  padding: 60px 0px 50px;
  position: relative;
  &__wrap {
    margin: 90px 0 135px;
    display: grid;
    gap: 0px 65px;
    grid-template-columns: repeat(4, 1fr);
    transition: all .3s ease-in-out;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: $lightGrey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
  }
  &__icon {
    width: auto;
    height: auto;
  }
  &__heading {
    margin: 0;
    margin-bottom: 25px;
    color: $accent;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
  }
  &__text {
    margin: 0;
    color: $black;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link {
    transition: all .3s ease-in-out;
    &:hover, 
    &:focus {
      color: $accent;
      border: 1px solid $accent;
      outline: $accent;
    }
  }
  &__btn {
    transition: all .3s ease-in-out;
    &:hover, 
    &:focus {
      background-color: lighten($accent, 10%);
      border: 2px solid lighten($accent, 10%);
      outline: lighten($accent, 10%);
    }
  }
  &__divider {
    margin: 0px 45px;
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    color: #ADB3CB;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 1px;
      background-color: #DAE4FE;
    }
    &::before {
      left: -30px;
    }
    &::after {
      right: -30px;
    }
  }
}

/* Декор элементы */
.clouds--sm,
.clouds--md,
.clouds--lg {
  position: absolute;
}
.clouds--sm {
  top: 21px;
  left: 125px;
}
.clouds--md {
  left: 56px;
  bottom: 40px;
}
.clouds--lg {
  top: 60px;
  right: 70px;
}

@media (max-width: 991px) and (min-width: 768px) {
  .clouds--sm {
    left: 35px;
  }
  .clouds--md {
    left: -14px;
    bottom: 60px;
  }
  .clouds--lg {
    top: 50px;
    right: 10px;
  }
}

@media (max-width: 767px) {
  .about-us__wrap {
    margin: 70px 0px 85px;
    gap: 0px 75px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .about-us__item {
    flex-shrink: 0;
    &:first-child {
      padding-left: 75px;
    }
    &:last-child {
      padding-right: 75px;
    }
  }
  .about-us__img {
    margin-bottom: 23px;
  }
  .about-us__heading {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .about-us__text {
    font-size: 16px;
  }
  .clouds--sm {
    top: 10px;
    left: 15px;
  }
  .clouds--md {
    left: -4px;
    bottom: 70px;
  }
  .clouds--lg {
    top: 60px;
    right: 0;
  }
}

@media (max-width: 520px) {
  .about-us {
    &__wrap {
      margin: 75px 0px 60px;
    }
    &__item {
      &:first-child {
      padding-left: 55px;
      }
      &:last-child {
      padding-right: 55px;
      }
    }
    &__actions {
      flex-direction: column;
    }
    &__divider {
      margin: 25px 0px;
      &::before {
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 15px;
      }
      &::after {
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 15px;
      }
    }
  }
  .clouds--sm {
    width: 25%;
  }
  .clouds--md {
    width: 30%;
    left: 16px;
    bottom: 90px;
  }
  .clouds--lg {
    width: 30%;
    top: 40px;
    right: 0;
  }
}

/* Animation */
@keyframes aboutScrollX {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.about-us__wrap[data-scroll] {
  transition: all .3s ease-in-out;
  transition-delay: .7s;
}
.about-us__wrap[data-scroll="in"] {
  animation: aboutScrollX 1s ease-in-out normal forwards;
}
.about-us__wrap[data-scroll="out"] {
  animation: none;
}
.clouds--sm[data-scroll] {
  transition: all .3s ease-in-out;
  transition-delay: .5s;
}
.clouds--sm[data-scroll="in"] {
  opacity: 1;
}
.clouds--sm[data-scroll="out"] {
  opacity: 0;
}
.clouds--lg[data-scroll] {
  transition: all .3s ease-in-out;
  transition-delay: 1s;
}
.clouds--lg[data-scroll="in"] {
  opacity: 1;
}
.clouds--lg[data-scroll="out"] {
  opacity: 0;
}
.clouds--md[data-scroll] {
  transition: all .3s ease-in-out;
  transition-delay: 2s;
}
.clouds--lg[data-scroll="in"] {
  opacity: 1;
}
.clouds--lg[data-scroll="out"] {
  opacity: 0;
}