.accordion {
  &__wrap{
    display: flex;
    flex-direction: column;
  }
  &__item {
    margin-bottom: 20px;
    border-bottom: 1px solid #D8E3FE;
    &:last-child {
      margin-bottom: 0;
    }
    &--show {
      .accordion__content {
        font-size: 14px;
        line-height: 27px;
        padding-bottom: 50px;
      }
    } 
  }

  &__header {
    margin-left: 60px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #8E96B7;
    cursor: pointer;
    transition: all .3s ease-in-out;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      border-top: 3px solid #8E96B7;
      border-right: 3px solid #8E96B7;
      position: absolute;
      top: 0;
      left: -35px;
      z-index: 1;
      transform: rotate(135deg);
      transition: all .3s ease-in-out;
    }
    &--active {
      font-weight: 700;
      color: #495274;
      &::before {
        top: 6px;
        border-top: 3px solid #495274;
        border-right: 3px solid #495274;
        transform: rotate(-45deg);
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__content {
    margin: 0;
    margin-left: 75px;
    padding-bottom: 0px;
    padding-right: 15px;
    max-width: 380px;
    font-style: normal;
    font-weight: normal;
    font-size: 0px;
    line-height: 0px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    transition: all .3s ease-in-out;
  }
}

@media (max-width: 767px) {
  .accordion {
    &__item {
      &--show {
        .accordion__content {
          padding-bottom: 20px;
        }
      } 
    }
    &__content {
      max-width: 470px;
    }
  }
}

@media (max-width: 520px) {
  .accordion {
    &__item {
      &--show {
        .accordion__content {
          font-size: 13px;
          line-height: 23px;
        }
      } 
    }
  }
}