.header {
  transition: all .5s ease-in-out;
  &--fixed {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    opacity: .9;
  }
  &--fixed .header__wrap {
    padding: 3px 0px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    transition: all .3s ease-in-out;
    overflow: hidden;
  }
  &__btn {
    transition: all .3s ease-in-out;
    overflow: hidden;
    animation: fadeInRight 1s ease-in-out normal forwards;
    &:hover, 
    &:focus {
      color: $accent;
      border: 2px solid $accent;
      outline: $accent;
    }
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}