.prices {
  padding: 40px 0;
  background-color: $accent;

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 28px;
    font-family: $quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
  }

  &__text {
    margin: 0;
    margin-bottom: 70px;
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }

  &__btn {
    background: $white;
    border-radius: 2px;
    border: 3px solid transparent;
    outline-color: transparent;
    padding: 13px 18px;
    font-family: $quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #565F82;
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
      border: 3px solid darken($accent, 10%);
      outline-color: darken($accent, 10%);
    }
  }
}

@media (max-width: 767px)  {
  .prices {
    &__title {
      font-size: 38px;
      line-height: 44px;
    }
    &__text {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 520px) {
  .prices {
    &__title {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 18px;
    }
    &__text {
      margin-bottom: 35px;
    }
  }
}

/* Animation */
.prices__title[data-scroll] {
  transition: all .3s ease-in-out;
  transition-delay: .5s;
}
.prices__title[data-scroll="in"] {
  transform: scale(1);
}
.prices__title[data-scroll="out"] {
  transform: scale(.9);
}