.slider {
  &__wrap {
    display: flex;
    align-items: center;
    max-width: 900px;
    overflow-x: visible;
  }

  &__item {
    width: 420px;
    background: #FFFFFF;
    border: 1px solid #D8E3FE;
    padding: 40px 65px 50px;
    opacity: 0.5;
    position: relative;
    margin-right: 60px;
    margin-bottom: 40px;
  }

  &__text {
    margin: 0;
    color: $blue;
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  &__author {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -25%);
    border-radius: 50%;
  }
}

.slick-list {
  max-width: 950px;
}

.slick-track {
  width: inherit !important;
  display: flex;
  align-items: center;
}

.slick-dots {
  bottom: -75px;
  left: 140px;
  text-align: left;
}

.slick-slide {
  outline: none;
}

.slick-current>.slider__item {
  opacity: 1;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .slick-dots {
    left: 0px;
    text-align: center;
  }
}

@media (max-width: 930px) {
  .slider {
    &__item {
      margin-right: 30px;
      margin-left: 30px;
      width: 280px;
      padding: 20px 15px 50px;
    }
  }

  .slick-track {
    width: auto;
  }
}