@font-face {
  font-family: Baloo Bhai;
  src: url(../fonts/BalooBhai-Regular.woff);
}
@font-face {
  font-family: SF UI Text;
  src: url(../fonts/SFUIText-Medium.woff);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

